// Setup environment here
// openviduGlobal.enableProdMode();

export const env = {
    host: {
        backend: 'https://lw-backend.devlegal.ru',
        middleware: 'http://localhost:5000'
    },
    credentials: {
        consultant: {
            email: 'consultant@example.com',
            password: 'string'
        },
        client:  {
            email: 'anon@example.com',
            password: 'string'
        }
    }
};
