// Setup environment here
// openviduGlobal.enableProdMode();

export const env = {
    host: {
        backend: 'https://back.artebedev.ru',
        middleware: 'https://middleware.artebedev.ru'
    },
    credentials: {
        consultant: {
            email: 'qwe@qwe.ru',
            password: 'qwe'
        },
        client:  {
            email: 'anon.medscan@example.com',
            password: 'Rcwf6mx45XD5BnPCsipD'
        }
    }
};
